@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>ImageAdd</h1>

<form asp-action="ImageAdd" enctype="multipart/form-data">
    <input type="file" name="imageFile" />

    <button type="submit">Kaydet</button>
</form>
